# Configuración por defecto para desarrollo local
ENVIRONMENT=local
DEBUG=true

# Cadena de conexión. Para SQLite puedes comentar esta línea
# DATABASE_URL=sqlite+aiosqlite:///app.db
DATABASE_URL=postgresql+psycopg://informaperu:informaperu@localhost:5432/informaperu

JWT_SECRET_KEY=super-secret-key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

